<div class="container">
  Default key order
  <div *ngFor="let item of object | keyvalue">
    {{ item.key }} : {{ item.value }}
  </div>
</div>
<hr />
<div class="container">
  Original property order
  <div *ngFor="let item of object | keyvalue: originalOrder">
    {{ item.key }} : {{ item.value }}
  </div>
</div>
<hr />
<div class="container">
  Reverse key order
  <div *ngFor="let item of object | keyvalue: reverseKeyOrder">
    {{ item.key }} : {{ item.value }}
  </div>
</div>
<hr />
<div class="container">
  Ascending Value order
  <div *ngFor="let item of object | keyvalue: valueOrder">
    {{ item.key }} : {{ item.value }}
  </div>
</div>

<!-- The following syntaxes preserve the original property order -->
<div *ngFor="let item of object | keyvalue: 0">
  <div *ngFor="let item of object | keyvalue: 374">
    <div *ngFor="let item of object | keyvalue: null">
    <!-- keyvalue: 0 no longer works in Angular 7. Just create a empty function: sortNull() {} and then set keyvalue: sortNull -->
      <!-- but they cause an exception (visible in the console) -->
      <!-- ERROR TypeError: The comparison function must be either a function or undefined -->
    </div>
  </div>
</div>
